<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.mule.tooling.runtime.muleServerLaunchType">
    <stringAttribute key="launch_mule_server_version" value="org.mule.tooling.server.4.4.0.ee"/>
    <stringAttribute key="mule-agent-port" value="62297"/>
    <stringAttribute key="mule-agent-token-auth" value="8f9e7741-8a6c-4762-aa68-7f35c446f4e4"/>
    <listAttribute key="mule-project-names">
        <listEntry value="awswithsftp"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="awswithsftp"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-M-XX:-UseBiasedLocking -M-Dfile.encoding=UTF-8 -M-XX:+UseG1GC -M-XX:+UseStringDeduplication"/>
</launchConfiguration>
